body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;

}

.header h1{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.header{
    background-color: #E0E0E0;
    height: 60px;
    width: 100%;
    display: flex;
}

.logo{
    width: 50px;
    margin: auto;
    padding-left: 20px;
}

.logo img {
    height: 27.63px;
    padding: 0;
}

.center-header{
    text-align: center;
    margin: auto;
    width: 100%;
}

.menu{
    width: 50px;
    padding-right: 20px;
    text-align: right;
    margin: auto;
    font-size: 35px;
}

.container{
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}

form{
    width: 100%;
}

.form{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid black;
}

.form input, select{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 7px 0;
    font-family: 'Lato', sans-serif;
}

.form .button-submit{
    width: 100%;
    background-color:  #333333;
    border-radius: 4px;
    color: white;
    margin-bottom: 28px;
    margin-top: 5px;
    padding: 7px 0;
    font-family: 'Lato', sans-serif;
}

.result{
    font-size: 10px;
    display: block;
    text-align: right;
}

.report{
    display: block;
    width: 100%;
}

.report p{
    text-align: center;
    font-size: 18px;
    padding-top: 0;
    margin-top: 0;
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

td, th {
    border-bottom: 1px solid #979797;
    padding: 5px 10px;
}

td:first-child + td { 
    width: 52% 
}

td:first-child + td + td {  
    width: 45%px 
}
