/* start - structure*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

input[type="checkbox"]{
    display: none;
}

nav{
    position: absolute;
    display: none;
    width: 100%;
    height: 1000px;
}

header{
    display: block;
    width: 100%;
}

main{
    display: block;
    width: 100%;
}

/* end - structure */


/* start - nav - interactive menu */

nav .container{
    width: 100%;
    height: 100%;
    margin-left: 20%;
    background-color: black;
}

nav label{
    position: absolute;
    font-size: 20px;
    color: chartreuse;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.options ul{
    width: 100%;
    list-style: none;
    padding-top: 40px;
}

.options a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: right;
    padding: 10px;
}

a:hover{
    background-color: blanchedalmond;
    color: black;
}

#close:checked ~ nav {
    display: none;
}

/* end - nav - interactive menu */

/*------------------------------------------/*

/* start - header */

header .header{
    display: flex;
    align-items: center;
    background-color:  #E0E0E0;
    height: 60px;
}

header .logo  {
    width: 15%;
    display: flex;
}

header .center-header {
    display: flex;
    width: 100%;
}

header .menu-image   {
    width: 15%;
    text-align: right;
}

header img {
    height: 27.63px;
    margin-left: 20px;
}

header h1{
    font-size: 18px;
    width: 100%;
    text-align: center;
}

header label{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

header label:hover{
    opacity: 0.2;
}

/* end - header */

/*------------------------------------------/*

/* start - main -> form */

main .container{
    display: block;
    margin: 20px;
    /*border: #333333 1px solid;*/
    border-radius: 4px;
    font-size: 14px;
}

.form{
    display: block;
    margin: 10px;
    font-size: 14px;
}

.form input[type="text"], .form select{
    display: block;
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
    margin-bottom: 10px;
}

.form .button-submit{
    background-color:  #333333;
    color: white;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.form label{
    display: block;
    padding-bottom: 5px;

}

/* end - main -> form */

/*------------------------------------------/*

/* start - main -> report */

.report{
    margin: 10px;
    margin-bottom: 0;
    border-radius: 4px;
    font-size: 10px;
}

.report p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.report table{
    width: 100%;
    border-collapse: collapse;
}

.report td, .report th {
    border-bottom: 1px solid #979797;
    padding: 5px 10px;
}

.report .total{
    text-align: right;
    font-weight: bold;
}

.report .result{
    font-size: 10px;
    margin: 0;
    text-align: right;
}


/* end - main -> report */





